@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for Intro.js */
@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
 /* Button arrow */
 button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ffc638;
}

button:hover .arrow-btn {
  transform: translateX(5px); /* Adjust the value as needed */
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}

 /* Button arrow UP */



 .flipCard {
  perspective: 1000px;
  width: 300px;
  height: 400px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s ease;
}

.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
  background: green;
  color: white;
  border-radius: 20px;
}
